<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Students</title>
</head>
<body>
  <div class="container">
    <%- include("partials/menu.ejs") %>
    <div class="content">
      <input type="text" id="student-name">
      <button onclick="searchStudents(event)">Serach</button>
      <div class="students" style="margin-top: 30px;">
        <% for (const student of students) { %>
          <div class="student">
            <a href="/students/<%=student.username%>">
              <% if (student.hasImg) { %> 
                <img src="imgs/<%=student.username%>.jpeg">
              <% } else { %>
                <img src="imgs/noimg.jpeg">
              <% } %>
            </a>
            <p><%= student.first %> <%= student.last %></p>
          </div>
        <% } %>
      </div>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/main.js"></script>
  <script src="js/students.js"></script>
</body>
</html>