<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student - <%=student.first%> <%=student.last%></title>
</head>
<body>
  <div class="container">
    <%- include("partials/menu.ejs") %>
    <div class="content">
      <div class="student">
        <% if (student.hasImg) { %> 
          <img src="../imgs/<%=student.username%>.jpeg">
        <% } else { %>
          <img src="../imgs/noimg.jpeg">
        <% } %>
        <p><%=student.first%> <%=student.last%></p>
        <% if (!isSignedIn && !isQueued) { %> 
          <button onclick="sendStudent(event)">Send Student</button>
        <% } %>
        <% if (isSignedIn) { %> 
          <button onclick="signOutStudent(event)">Signout Student</button>
        <% } %>
      </div>

      <div class="history">
        <% for (const entry of entries) { %>
          <b><%= entry.signedIn? "Sign in" : "Sign out" %></b>
          <p><%=new Date(entry.unix).toLocaleString()%></p>
        <% } %>
      </div>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="../js/main.js"></script>
  <script src="../js/scan.js"></script>
</body>
</html>